*.pyc

/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mvnw.cmd file ###
mvnw.cmd

### Configuration files ###
src/main/resources/private
src/test/resources/private

### Log files ###
*.log.*
*.log.
*.log